/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}


html {
    background-color: lightblue;
}

body {
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.my-navbar li {
    display: inline;
}

.wrap-all {
    max-width: 800px;
    margin: 0 auto;
    background-color: lightyellow;
}

.site-logo {
    display: none;
}

.site-logo-text {
    display: none;
}

.footer_column {
    width: 33%;
    float: left;
}

.byline {
    display: block;
    border: 1px solid black;
    margin-top: 45px;
    margin-bottom: 45px;
    clear: both;
    overflow: auto;
}

.left {
    float: left;
    display: inline-block;
    clear: both;
}

.right {
    float: right;
    display: inline-block;
    clear: both;
}

.container {
    display: inline-block;
    clear: both;
}
